# Loops in python3 by `Mr. Harshit Dawar`

In [2]:
x = 1
print(x)
print(x)
print(x)
print(x)
print(x)
print(x)
print(x)
print(x)
print(x)
print(x)

1
1
1
1
1
1
1
1
1
1

## While Loop

In [89]:
i = 1

In [90]:
while i < 11:
    print(1)
#     i = i + 1
    i += 1

1
1
1
1
1
1
1
1
1
1

In [88]:
i

11

In [23]:
salary = 50000

while True:
    salary += 10000
    print(salary)
    
    if salary == 100000:
        break
    elif salary < 100000:
        pass
    else:
        continue
        
    print("Hi")
    print("Hello")

60000
Hi
Hello
70000
Hi
Hello
80000
Hi
Hello
90000
Hi
Hello
100000

In [32]:
x = [3, 5, 7, 5.5, 7.5, "Harshit Dawar"]

In [34]:
x

[3, 5, 7, 5.5, 7.5, 'Harshit Dawar']

In [35]:
len(x)

6

In [40]:
x[5]

'Harshit Dawar'

In [46]:
i = 0
while i < 6:
    print(x[i])
    i += 1

3
5
7
5.5
7.5
Harshit Dawar

In [43]:
x

[3, 5, 7, 5.5, 7.5, 'Harshit Dawar']

In [44]:
x.append(7)

In [45]:
x

[3, 5, 7, 5.5, 7.5, 'Harshit Dawar', 7]

In [64]:
for element in x:
    print(element)

3
5
7
5.5
7.5
Harshit Dawar
7
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
1
11
12
13
14
15

In [53]:
x

[3, 5, 7, 5.5, 7.5, 'Harshit Dawar', 7]

In [54]:
x.append([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

In [55]:
x

[3, 5, 7, 5.5, 7.5, 'Harshit Dawar', 7, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]]

In [60]:
x.append(1)

In [61]:
x.append(11)
x.append(12)
x.append(13)
x.append(14)
x.append(15)

In [62]:
x

[3,
 5,
 7,
 5.5,
 7.5,
 'Harshit Dawar',
 7,
 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 1,
 11,
 12,
 13,
 14,
 15]

In [63]:
x[9]

11

In [67]:
for i in range(5):
    if i == 3:
        print("I have used one condition inside the for loop!")
    print(i)

0
1
2
I have used one condition inside the for loop!
3
4

In [70]:
# Outer Loop or Master Loop
for i in range(5):
    print("i = %d"%i)
    # Inner Loop or Basic Loop
    for j in range(5):
        print("j = %d"%j)

i = 0
j = 0
j = 1
j = 2
j = 3
j = 4
i = 1
j = 0
j = 1
j = 2
j = 3
j = 4
i = 2
j = 0
j = 1
j = 2
j = 3
j = 4
i = 3
j = 0
j = 1
j = 2
j = 3
j = 4
i = 4
j = 0
j = 1
j = 2
j = 3
j = 4

In [75]:
for i in range(10):
    print(i, end = " ")

0 1 2 3 4 5 6 7 8 9

In [76]:
'''
*
**
***
****
*****
'''

'\n*\n**\n***\n****\n*****\n'

In [79]:
for i in range(5):
    print("*" * (i + 1))

*
**
***
****
*****